@font-face {
    font-family: Quicksand;
    src: url("font/Quicksand-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Quicksand; 
    src: url("font/Quicksand-Bold.ttf");
    font-weight: bold;
}


$background2:   #E0E1DD; 
$background:    #FFFFFF;
$black:         #293241;
$merah:         #EF476F; 

%font {
    font-family: Quicksand; 
}

%fontNormal {
    @extend %font;
    font-weight: normal;
}

%fontBold {
    @extend %font;
    font-weight: bold;
}

%p0m0 {
    padding: 0;
    margin:0;
}

%heightWidthOverflow {
    overflow: hidden;
    height: 100%;
    width: 100%;
}


:root,html,body {
    background: $background2;
    font-weight: normal;
    color: $black;
    font-size: 24px;
    border: 0;
    user-select: none;
    @extend %fontNormal;
    @extend %p0m0;
    @extend %heightWidthOverflow;
}



#app{
    @extend %p0m0;
    @extend %heightWidthOverflow;
    * {
        font-size: .625rem;
        &:focus { outline: none;}
    }
}




.drag {
    -webkit-app-region: drag;
}

.container {
    display: flex;

    &.between {
        justify-content: space-between;
    }
    &.around {
        justify-content: space-around;
        align-items: baseline;
    }
    &.column {
        flex-direction: column;
    }
    &.row {
        flex-direction: row;
    }
    .item {
        flex: auto;
    }
}


.head {
    display: inline-flex;
    margin: 0px 30px;
    padding: 20px 0px;
    text-align: center;
    > * {
        margin: 0px 2px;
    }
    h2 {
        font-weight: normal !important;
    }
}

.body {
    width: 100% !important;
    max-width: 95% !important;
    height: auto;
        margin: auto; 
    form {
        width: 100%;
        margin: 15px auto; 
    }
}

#right {
    text-align: center;
    background: $background;
    max-width: 300px;
}

h1,h2,h3,h4,h5 {
    font-family: Quicksand;
    @extend %fontBold;
    @extend %p0m0;
    font-size: .8rem !important;
    &.sub {
        opacity: 0.8;
        font-size: inherit !important;
    }
}


.box {
    background: $background;
    max-width: 90%;
    border-radius: 10px;
    height: auto;
    position: relative;
    margin: auto;
    padding: 5px 15px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
    .item {
        margin: 8px 0px;
        input {
            display: block;
            padding: 10px 15px;
            border-radius: 30px;
            max-width: 100%;
            width: 100%;
            background: $background;
            border: 1px solid $background2;
            outline: none;
        }

    }
}

input {
    box-sizing: border-box;
    display: block;
}



// .hidden {
    // display: none;
// }

.btn {
    @extend %fontBold;
    background: $merah;
    padding: 8px 0px;
    width: fit-content;
    border-radius: 8px;
    color: $background;
    border: none;
    box-shadow: none;
    margin-bottom: 0px !important;
    &:active, &:hover {
        @extend .btn;
        cursor: pointer;
    }
}
