@font-face {
   font-family: Quicksand;
   src: url("assets/font/Quicksand-Regular.ttf");
   font-weight: normal;
}

@font-face {
   font-family: Quicksand; 
   src: url("assets/font/Quicksand-Bold.ttf");
   font-weight: bold;
}


$background2:   #E0E1DD; 
$background:    #FFFFFF;
$black:         #293241;
$merah:         #EF476F; 

%font {
    font-family: Quicksand; 
}

%fontNormal {
    @extend %font;
    font-weight: normal;
}

%fontBold {
    @extend %font;
    font-weight: bold;
}

%p0m0 {
    padding: 0;
    margin:0;
}

%heightWidthOverflow {
    overflow: hidden;
    height: 100%;
    width: 100%;
}


:root,html,body {
    background: $background2;
    font-weight: normal;
    color: $black;
    font-size: 24px;
    border: 0;
    user-select: none;
    @extend %fontNormal;
    @extend %p0m0;
    @extend %heightWidthOverflow;
}



#app{
    @extend %p0m0;
    @extend %heightWidthOverflow;
     * {
        font-size: .8rem;
    }
}



.drag {
    -webkit-app-region: drag;
}

.container {
    display: flex;

    &.between {
        justify-content: space-between;
    }
    &.column {
        flex-direction: column;
    }
    &.row {
        flex-direction: row;
    }
    .item {
        flex: auto;
    }
}


.head {
    display: inline-flex;
    padding: 30px 10px;
    text-align: center;
    width: fit-content;
    > * {
        margin: 0px 2px;
    }
    h2 {
        font-weight: normal !important;
    }
}

#right {
    text-align: center;
    background: $background;
    max-width: 300px;
}

h1,h2,h3,h4,h5 {
    font-family: Quicksand;
    @extend %fontBold;
    @extend %p0m0;
    font-size: 1rem;
}

