@font-face {
   font-family: Quicksand;
   src: url("assets/font/Quicksand-Regular.ttf");
}

@font-face {
   font-family: Quicksand;
   src: url("assets/font/Quicksand-Bold.ttf");
   font-weight: bold;
}


$background2:   #E0E1DD; 
$background:    #FFFFFF;
$black:         #293241;
$merah:         #EF476F; 


:root,html,body {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    background: $background2;
    padding:0;
    margin:0;
    overflow: hidden;
    font-family: Quicksand;
    color: $black;
    font-size: 24px;
    border: 0;
    position: relative;
    user-select: none;
}


.drag {
    -webkit-app-region: drag;
}

.container {
    display: flex;
    padding:0;
    margin:0;
}

.container * {
    font-size: 0.6rem;
    margin:0;
}

.container.column {
   flex-direction: column; 
}

.container.between {
   justify-content: space-between;
}

.container.row {
   flex-direction: row; 
   align-items: baseline;
}


.container .item {
   flex: auto;
}

.item label {
    width: 100px;
}

#app {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: $background;
}

#app > * {
    height: 100%;
}

.head {
    margin: 0;
    padding:30px 20px; 
}

.head > * {
    padding: 0 2px;
    margin: 0;
    font-size: 1.2rem;
}

#right .head > * {
    font-size: .8rem;
}

.head h2 {
    font-weight: normal;
}


.transparent-font {
    opacity: .8;
}


h1,h2,h3,h4 {
    font-size: 1rem;
}

.bold,h1,h2,h3,h4 {
    font-weight: bold;
}

.normal,  {
    font-weight: normal;
}

#left {
    background: $background2;
}

#right {
    max-width: 300px;
    height: 100%;
    align-items: center;
}
